/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
    background: #6943FF;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
background: #1F2937;
padding: 36px 25px;
}

h1{
    margin-top: 33px;
    margin-bottom: 30px;
}

input {
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    background: none;
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 24.393px;
    margin-bottom: 25px;
}

button {
    margin-bottom: 34px;
    border-radius: 5px;
    display: inline-flex;
    padding: 9px 27.5px;
    justify-content: center;
    align-items: center;
    color: #3D3D3D;
    background: #FFF;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}


h2{
    color: #CCC1FF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 9px 0;
}

.card {
    background: #273549;
    margin-bottom: 24px;
    padding: 33px 77px 19px;
}

h3 {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}